
#login {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    width: 200px;
    height: 30px;
    background-color: #222;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
    color: aliceblue;
    z-index: 2;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
#login::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            0deg,
            transparent,
            transparent 30%,
            rgba(0,255,255,0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

/* Add a hover effect for buttons */
#login:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
#login:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
#reg
{
    font-family: 'Press Start 2P', cursive;
    z-index: 9999;
    border: solid #696969 1px;
    outline: none;
    animation: none;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 35px;
    color: aliceblue;
    background-color: #222;
    margin-top: 15%;
}
#reg {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    width: 200px;
    height: 30px;
    background-color: #222;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
    color: aliceblue;
    z-index: 2;
    margin-top: 20%;
}
#reg::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            0deg,
            transparent,
            transparent 30%,
            rgba(0,255,255,0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

/* Add a hover effect for buttons */
#reg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
#reg:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
.regwin
{
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    z-index: 9999;
    display: none;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(55, 53, 53, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(56, 55, 55, 0.3);
    height: 800px;
    width: 700px;
    border-radius: 10px;
}
.logwin
{
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    z-index: 9999;
    display: none;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(55, 53, 53, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(56, 55, 55, 0.3);
    height: 500px;
    width: 700px;
    border-radius: 10px;
}
form
{
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#submit {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    width: 200px;
    height: 30px;
    background-color: #222;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
    color: aliceblue;
    z-index: 2;
}
#submit::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            0deg,
            transparent,
            transparent 30%,
            rgba(0,255,255,0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

/* Add a hover effect for buttons */
#submit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
#submit:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 50px;
}
